de.bsvrz.buv.daf.feature/target/
de.bsvrz.buv.kernsoftware.repository/target/
de.bsvrz.buv.vew.feature/target/
de.bsvrz.dav.daf.plus.funclibErweiterung/target/
de.bsvrz.dav.daf/target/
de.bsvrz.pat.datgen/target/
de.bsvrz.pat.onlprot/target/
de.bsvrz.pat.sysbed/target/
de.bsvrz.pat.sysprot/target/
de.bsvrz.puk.config/target/
de.bsvrz.sys.funclib.application/target/
de.bsvrz.sys.funclib.asyncReceiver/target/
de.bsvrz.sys.funclib.commandLineArgs/target/
de.bsvrz.sys.funclib.communicationStreams/target/
de.bsvrz.sys.funclib.concurrent/target/
de.bsvrz.sys.funclib.configObjectAcquisition/target/
de.bsvrz.sys.funclib.consoleProcessFrame/target/
de.bsvrz.sys.funclib.crypt/target/
de.bsvrz.sys.funclib.dataIdentificationSettings/target/
de.bsvrz.sys.funclib.dataSerializer/target/
de.bsvrz.sys.funclib.debug/target/
de.bsvrz.sys.funclib.filelock/target/
de.bsvrz.sys.funclib.hexdump/target/
de.bsvrz.sys.funclib.losb/target/
de.bsvrz.sys.funclib.operatingMessage/target/
de.bsvrz.sys.funclib.timeout/target/
de.bsvrz.sys.funclib.xmlSupport/target/
de.bsvrz.vew.syskal/target/
